*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding-top: 10rem;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333;
}

h1 {
    font-weight: 600;
}

p {
    color: #888;
}
